/* Style global */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

/* En-tête */
header {
  background-color: pink; /* Couleur douce pour le header */
  color: white;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

/* Conteneur général */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Section de description */
.description {
  text-align: center;
  margin-bottom: 40px;
}

.description h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: palevioletred;
}

.description p {
  font-size: 1.2em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  color: blue;
}

/* Style pour la direction */
.team-lead {
  text-align: center;
  margin-bottom: 40px;
}

.team-lead img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(255, 182, 193, 0.6); /* Effet lumineux rose */
}

.team-lead h3 {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: #333;
}

.team-lead p {
  color: #777;
}

/* Style pour les autres membres de l'équipe */
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  background-color: white;
  border-radius: 10px;
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #333;
}

.team-member p {
  color: #777;
}

/* Pied de page */
footer {
  background-color: rgba(255, 192, 203, 0.753);
  min-height: 50px;
}

/* Media queries pour adaptabilité */
@media (max-width: 450px) {
  h1{
    font-size: 0.7rem;
  }
  .team-member {
    width: 100%;
    margin-bottom: 20px;
  }

  .team-lead img {
    width: 150px;
    height: 150px;
  }
  .team-member img {
    width: 200px;
  }
}
